<div id="subtotal-main" data-hook="subtotal-main">
    <div id="subtotal_left">
    </div>
    <div id="subtotal_right">
      <table id="order-charges">
          <tr>
            <td width="60%"><h3><%= t(:subtotal) %></h3></td>
            <td width="40%"><h3><%= order_subtotal(@order) %></h3></td>
          </tr>
      </table>
    </div>
</div>